
.outer:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height:200px;
  width: 100%;
}


.inner {
  display: inline-block;
  vertical-align: middle;
}

.outer {
  text-align: center;
}
.block {
  margin: 20px;

}
.span {
   display: block;
}

ol.noMarker {
  list-style-type: none;
}

.th-center {
    text-align: center;
}
